body{
font-family: 'Itim', cursive;
background-color: mediumorchid;
}

.header_div{
  background-color: white;
  color: crimson;
}

.header_div img{
  width: 100px;
}

.main_div{
    background: darkgray;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}

.main_div label{
    background: white;
    width: 310;
    padding:10px ;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px white;
}

#camera,#result{
    border: 2px solid white;
    height: 300;
    width: 310;
    box-shadow: 5px 5px 18px white;
}

.main_div button{
    width: 310px;
    font-size: 16px;
    box-shadow: 5px 5px 18px white;
    border: 1px solid;
}
.footer_div{
    margin-bottom: 50px;
}

.footer_div h4{
    background: grey;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px white;
}
.footer_div img{
    width: 70px;
}

.copy_right_footer{
    position: fixed;
    color: turquoise;
    width: 100%;
    background-color: white;
    text-align: center;
    bottom: 0px;
    line-height: 3px;
}